*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
body{
    background-color: #0c1720 !important;
    font-family: 'Itim', cursive !important;
}
.btn{
    padding-left: 10px;
   position: relative;
  margin-top: 30px;
}
.container h1{
    color: aliceblue;
}
.toss1{
color: aliceblue;
    margin-top: 40px;
}
h1{
    color: aliceblue !important;
}
h2{
    color: aliceblue !important;
}